Answer with the type of test you would use (assume normal distribution):

Is there a difference in grades of students on the second floor compared to grades of all students?

1-sample t-test

Are adults who drink milk taller than adults who dont drink milk?

ttest.ind 2 sample independent 1-tail

Is the the price of gas higher in texas or in new mexico?

ttest.ind 2 sample independent 1-tail

Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

stats.f_oneway ANOVA but I would first use stats.levene to check for variance eqivilance

Load the mpg dataset and use it to answer the following questions:

In [82]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import env
import numpy as np
from pydataset import data

mpg = data('mpg')

In [83]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [84]:
two_008_cty = mpg[mpg.year == 2008].cty
two_008_hwy = mpg[mpg.year == 2008].hwy

one_999_hwy = mpg[mpg.year == 1999].hwy
one_999_cty = mpg[mpg.year == 1999].cty

α = 0.05

In [91]:
two_008 = (two_008_cty + two_008_hwy)/2
one_999 = (one_999_hwy + one_999_cty)/2

In [86]:
two_008.mean()

20.076923076923077

In [87]:
one_999.mean()

20.22222222222222

In [95]:
# H0: there is no diff in fuel-efficiency between the two year models
# H0: there is a significant differenct between the two year models

t, p = stats.ttest_ind(two_008, one_999, equal_var = False)
print(t)
print(p)
if p <= α:
    print("Null hypothesis is not supported")
else:
    print("Null hypothesis is not rejected")

-0.21960177245940962
0.8263750772060638
Null hypothesis is not rejected

Are compact cars more fuel-efficient than the average car?

In [73]:
mpg.rename(columns={'class': 'clss'}, inplace = True)
mpg['hwy_and_cty'] = ((mpg.hwy) + (mpg.cty))/2

In [74]:
compct = mpg[mpg.clss == 'compact'].hwy_and_cty
print(compct.mean())
overall = mpg.hwy_and_cty.mean()
print(overall)

24.21276595744681
20.14957264957265

In [92]:
#H0: There is no diff in fuel efficiency between compacts and the overall average
#HA: compact cars are more efficient than the overall average
t, p = stats.ttest_1samp(compct, overall)
print(t)
print(p)
if p/2 > α:
    print("We fail to reject H0")
elif t < 0:
    print("We fail to reject H0")
else:
    print("We reject H0")

7.896888573132533
4.1985637943171486e-10
We reject H0

Do manual cars get better gas mileage than automatic cars?

In [78]:
autom = mpg[mpg['trans'].str.contains('auto')]
manu = mpg[mpg['trans'].str.contains('manu')]
print(autom.hwy_and_cty.mean())
print(manu.hwy_and_cty.mean())

19.130573248407643
22.227272727272727

In [ ]:
autom_only = autom.hwy_and_cty
manu_only = manu.hwy_and_cty

In [77]:
#H0: Manual transmission vehicles do not get better mileage than automatic transmission
#HA: Manual transmission vehicles do get better mileage than automatic transmission

In [80]:
t, p = stats.ttest_ind(manu_only , autom_only , equal_var = False)
print(t)
print(p)

4.443514012903072
1.7952248999917893e-05

In [81]:
if p/2 > α:
    print("We fail to reject H0")
elif t < 0:
    print("We fail to reject H0")
else:
    print("We reject H0")

We reject H0