Answer with the type of test you would use (assume normal distribution):

Is there a difference in grades of students on the second floor compared to grades of all students?

ttest.ind

Are adults who drink milk taller than adults who dont drink milk?

ttest.ind

Is the the price of gas higher in texas or in new mexico?

ttest.ind

Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

stats.f_oneway but I would first use stats.levene to check for variance eqivilance

Load the mpg dataset and use it to answer the following questions:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import env
import numpy as np
from pydataset import data

mpg = data('mpg')

In [2]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

Are compact cars more fuel-efficient than the average car?

Do manual cars get better gas mileage than automatic cars?