In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from math import sqrt

from scipy import stats
from pydataset import data

In [8]:
cakes = data('cake')
cakes

     replicate recipe  temperature  angle  temp
1            1      A          175     42   175
2            1      A          185     46   185
3            1      A          195     47   195
4            1      A          205     39   205
5            1      A          215     53   215
..         ...    ...          ...    ...   ...
266         15      C          185     28   185
267         15      C          195     25   195
268         15      C          205     25   205
269         15      C          215     31   215
270         15      C          225     25   225

[270 rows x 5 columns]

Is there a significant difference in the average baking temperature of the 3 diff recipes.

H0:There is no significant difference in the baking temperature between the 3 different recipes.
HA: This is a significant difference.

In [22]:
cake_a = cakes[cakes.recipe == "A"].temperature
cake_b = cakes[cakes.recipe == "B"].temperature
cake_c = cakes[cakes.recipe == "C"].temperature

cake_a.mean(),cake_b.mean(),cake_c.mean()

(200.0, 200.0, 200.0)

In [16]:
α= 0.05

In [17]:
stats.levene(cake_a, cake_b, cake_c)

LeveneResult(statistic=0.0, pvalue=1.0)

In [18]:
stats.kruskal(cake_a, cake_b, cake_c)

KruskalResult(statistic=0.0, pvalue=1.0)

In [23]:
stats.f_oneway(cake_a, cake_b, cake_c)

F_onewayResult(statistic=0.0, pvalue=1.0)

Null Hypothesis supported.